# --- Python & Derleme Dosyaları ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# --- Sistem ve IDE Dosyaları ---
.vscode/
.idea/
.DS_Store
Thumbs.db
*.swp
*.swo

# --- GÜVENLİK: KRİTİK DOSYALAR ---
# Tarama sonuçlarını ve logları ASLA GitHub'a gönderme
*.log
*.txt
!requirements.txt
*.json
*.xml


# Geçici yedek dosyaları (Nano, Vim veya VS Code yedekleri)
*.save
*.bak
*~
*.tmp

# Gizli Yapılandırmalar (API Anahtarları, Şifreler)
.env
auth.json
secrets.py
config_local.py

# --- PROJE ÖZEL ---
ScannerTool.py.save


