# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/

# Sistem
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Proje Çıktıları (Raporlar)
*.log
ip_scan.log
site_scan.log
service_scan.log
os_scan.log
ping_scan.log